.container-custom {
    min-height: 100vh;
    overflow: hidden;
    margin-bottom: 30%;
}

.row-custom{
    height: 15vh;
    margin-bottom: 15%;
    flex-wrap: nowrap;
}

.kitchenDiv{
    cursor: pointer;
}


@media only screen and (min-width:300px) and (max-width: 500px)  { 
	.kitchenDiv {
        font-size: 10px;
        height: 8vh;
    }
}

@media only screen and (min-width:500px) and (max-width: 1000px)  { 
	.kitchenDiv {
        font-size: 17px;
        height: 19vh
    }
}

@media only screen and (min-width:1000px)   { 
	.kitchenDiv {
        font-size: 25px;
        height: 13vh;
    }
}

